[program:node-app]
directory=/var/www/html/node
command=/bin/bash -lc "source /root/.nvm/nvm.sh && npm run --prefix /var/www/html/node/ dev"
autostart=true
autorestart=true
startsecs=5
stopasgroup=true
killasgroup=true
user=root
# redirect_stderr=true
stderr_logfile=/var/www/html/node/supervisor.stderr.log
stdout_logfile=/var/www/html/node/supervisor.stdout.log
environment=NODE_ENV="production"
